@import "reboot";
@import "nav";
@import "components";
@import "modal";
@import "tabs";
@import "utilities";
@import "print";

:root{
    --primary-text: #575767;
	--link-colour:hsl(240, 100%, 28%);
	--hover-colour:#900;
	--visited:hsl(240, 100%, 43%);
	--nav-hover: hsl(180, 3.1%, 15%);
	--active: #0d0b0a;
    --tab-colour:#0056b3;
    --well-bg: rgba(205, 205, 205, 0.1);
	--bb-colour:#ccc;
	--header-colour: hsl(65.5, 23.8%, 35%);
}

html{
	overflow-y: scroll;
	scroll-behavior: smooth;
}

body{
	line-height: 1.5;
	color:var(--primary-text);
}

#skiptocontent a {
	padding:6px;
	position: absolute;
	top:-40px;
	left:0px;
	color:white;
	border-right:1px solid white;
	border-bottom:1px solid white;
	border-bottom-right-radius:8px;
	background:transparent;
	-webkit-transition: top 1s ease-out, background 1s linear;
    transition: top 1s ease-out, background 1s linear;
    z-index: 100;
}

#skiptocontent a:focus {
	position:absolute;
	left:0px;
	top:0px;
	background:#BF1722;
	outline:0;	
	-webkit-transition: top .1s ease-in, background .5s linear;
    transition: top .1s ease-in, background .5s linear;
}		

ul,ol{
	list-style-position:inside;
	margin-left: 0; padding-left: 0;
}

html{
	/*background-image: url('../images/header2.jpg');*/
	background-repeat: no-repeat;
	background-position: 50% 2em;
}

.wrapper{
	max-width: 1024px;
	margin: 0 auto;
}

@supports (display: grid){
	.wrapper{
		max-width: 100%;
		display: grid;
		grid-template-columns:
		minmax(8px,1fr)
		minmax(0,1024px)
		minmax(8px,1fr);
		grid-template-rows: auto auto auto 1fr auto;
		height:100vh;
	}
}

.main{
	flex:1;
	padding-top: 1.5em;
}

@media screen and (min-width:50rem){
	.main{
		padding: 2em 0 2em;
	}
}

.wrapper{
	font-size: clamp(1rem, 0.7640rem + 0.9938vw, 1.4rem);
}

/* Backgrounds for header & Footer */
.wrapper::before, .wrapper::after{
	content:"";
	background: var(--header-colour);
}

.nav-wrap, .wrapper::before, .wrapper::after{
	grid-column: 1 / -1;
}

.wrapper::before{
	grid-row: 1;
}

.wrapper::after{
	grid-row: 6;
	z-index: -1;
}


.contact-bar, .header, .mainnav, .main, .footer{
	grid-column: 2 / -2;
}

.contact-bar{
	grid-row: 1;
	padding: .3em 0;
}

.header{
	grid-row: 1;
}

.footer{
	grid-row: 6;
}

.credit{
	grid-column: 2 / 4;
	grid-row: 6;
	justify-self:end;align-self: end;
	text-align: center;

}

.credit a{
	color:#ccc;
	font-size: 85%;
	opacity: .5;
	transition:all .3s ease-in-out;
	padding: .5em;
}

.credit a:hover{
	color:#fff;
	opacity: 1;
}

.header, .footer, .nav-wrap{
	color:#fff;
	background-color: var(--header-colour);
}

/* @media screen and (min-width:50rem){
	.footer{
		background-image: url('../images/crest.png');
	background-repeat: no-repeat;
	background-position: 50% .5em;
	}
} */

.header{
	display: flex;
	align-items: center;
}

.header .title{
	line-height: 1.1;
	padding-top: 0.4em;
}

.banner-holder{
    position:relative;
}

.banner{
position: absolute;
background-repeat: no-repeat;
top: 0;
right: 0;
bottom: 0;
left: 0;
}

.banner-holder{
padding-top:29.2968%;
background-color: var(--header-colour);
border:1px solid rgba(255,255,255,.3);
border-width:1px 0;
}

.banner{
background-image: url('../images/header-1024.jpg');background-position: 50% 20%;
}

.webp .page-documents .banner{
	background-image: url('../images/cwmifor-1024.webp');
}

.avif .page-documents .banner{
	background-image: url('../images/cwmifor-1024.avif');
}

.page-documents .banner{
	background-image: url('../images/cwmifor-1024.jpg');
}

.page-planning .banner{
	background-image: url('../images/towy-1024.jpg');
}
.webp .page-planning .banner{
	background-image: url('../images/towy-1024.webp');
}

.avif .page-planning .banner{
	background-image: url('../images/towy-1024.avif');
}

@media screen and (min-width:1024px){
	.banner-holder{
	padding-top:14.6484%;
	}
	.banner{
	background-image: url('../images/header.jpg');
	}
	
	.page-documents .banner{
		background-image: url('../images/cwmifor.jpg');
	}
	
	.webp .page-documents .banner{
		background-image: url('../images/cwmifor.webp');
	}

	.avif .page-documents .banner{
		background-image: url('../images/cwmifor.avif');
	}
	
	.page-planning .banner{
		background-image: url('../images/towy.jpg');
	}

	.webp .page-planning .banner{
		background-image: url('../images/towy.webp');
	}

	.avif .page-planning .banner{
		background-image: url('../images/towy.avif');
	}

}



.mainnav{
	max-width: 1024px;
	margin: 0 auto;
}

.full-width{
	grid-column: 1 /-1;
}

.full-width img{
	display: block;
	object-position: 50% 0;
	margin: 0 auto;
}

h1 {
 font-size:1.8em
}
h2 {
 font-size:1.5em
}
h3 {
 font-size:1.3em
}
h4 {
 font-size:1.15em
}
h4>a{
	font-size: .9em;
}
h5 {
 font-size:1.1em
}
h6 {
 font-size:1em
}

.page-title{
	border-bottom: 1px solid #ababab;
	line-height: 1.1;
	color:var(--active);
}

.copy{
	font-size: 0.95em;
	text-align: center;
	margin-bottom: 1em;
}

@media screen and (min-width: 60rem) {
	.copy{
		margin-bottom: 0.5em;
	}
}

img{
	max-width: 100%;
	height: auto;
}

.fl,.fr{
	display: block;
		margin: 0 auto;
}

@media screen and (min-width:50rem){
	.fr{
		float: right;
		margin: 0 0 1em 1em;
	}
	.fl{
		float: left;
		margin: 0 1em 0 0;
	}

}

.full, .full > *{
	display: block;
	margin: 0 auto 1em;
}

.two-images{
	display:grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 1em;
	align-items: center;
}

.border{
	border: 1px solid #ccc;
}

@media screen and (min-width:50rem){
	.grow {
		transition: all .2s ease-in-out;
		cursor: pointer;
	}
	.grow:hover{
		transform: scale(2.5) translateX(-50%); 
	}	
}



/*Utilities*/
.error{
	color:red;
}

p[lang]{
	color:green;
}

del{
	text-decoration: line-through;
}